html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    aspect-ratio: 1440/900;
}

.header {
    width: 100%;
    height: 12%;
}

@media screen and (max-width: 768px) {
    .header {
        height: 12vw;
    }
}


.header_inner {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .header_inner {
        width: 100%;
    }
}

.header-logo {
    width: 13%;
    margin-left: 0.5%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header-logo {
        width: 25%;
    }
}

.header-logo input {
    display: none;
}

.header-logo input:checked~nav {
    visibility: visible;
}

.menu-btn {
    width: 33%;
    height: 63%;
    margin: 0;
    border-radius: 5px;
    z-index: 5;
    user-select: none;
    background-color: rgb(48, 93, 255);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 6%;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .menu-btn {
        height: 80%;
    }
}

.menu-btn span {
    display: block;
    position: absolute;
    height: 4%;
    background: #FFF;
}

.menu-btn span:nth-child(1) {
    top: 0.9vw;
    width: 30%;
    height: 0.168vw;
}

@media screen and (max-width: 768px) {
    .menu-btn span:nth-child(1) {
        top: 2vw;
        width: 30%;
        height: 0.26vw;
    }
}

.menu-btn span:nth-child(2) {
    top: 1.7vw;
    width: 60%;
    height: 0.15vw;
}

@media screen and (max-width: 768px) {
    .menu-btn span:nth-child(2) {
        top: 4vw;
        width: 60%;
        height: 0.26vw;
    }
}

.menu-btn span:nth-child(3) {
    top: 2.5vw;
    width: 20%;
    height: 0.155vw;
}

@media screen and (max-width: 768px) {
    .menu-btn span:nth-child(3) {
        top: 6vw;
        width: 20%;
        height: 0.26vw;
    }
}

/* バツ状態 */
.menu-btn.active span:nth-child(1) {
    top: 1.7vw;
    width: 60%;
    transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
    .menu-btn.active span:nth-child(1) {
        top: 4vw;
    }
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    top: 1.7vw;
    width: 60%;
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .menu-btn.active span:nth-child(3) {
        top: 4vw;
    }
}

.header-logo nav {
    display: flex;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 2;
    top: 0;
    left: 0;
    visibility: hidden;
    position: fixed;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header-logo nav {
        display: flex;
        width: 100%;
        height: 100%;
        background: #FFF;
        z-index: 2;
        top: 0;
        left: 0;
        visibility: hidden;
        position: fixed;
        align-items: center;
    }
}

.header-logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-left: 0;
    list-style-type: none;
}

.header-logo ul li {
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .header-logo ul li {
        padding: 2em;
    }
}

.header-logo ul li a {
    color: rgb(33, 75, 224);
    text-decoration: none;
    font-size: 2vw;
}

@media screen and (max-width: 768px) {
    .header-logo ul li a {
        color: rgb(33, 75, 224);
        text-decoration: none;
        font-size: 7vw;
    }
}

.header-logo ul li a:hover {
    opacity: 0.5;
}

.header-logo ul li form button {
    font-size: 2vw;
    border: none;
    cursor: pointer;
    color: rgb(33, 75, 224);
}

@media screen and (max-width: 768px) {
    .header-logo ul li form button {
        font-size: 7vw;
        border: none;
        cursor: pointer;
        color: rgb(33, 75, 224);
        background-color: #FFF;
    }
}

.header-logo ul li form button:hover {
    opacity: 0.5;
}

.header-logo h1 {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.3vw;
    color: rgb(48, 93, 255);
    margin-top: 3%;
    margin-left: 5%;
}

@media screen and (max-width: 768px) {
    .header-logo h1 {
        font-size: 6vw;
        margin-left: 5%;
    }
}

@media screen and (max-width: 768px) {
    .header-logo h1 {
        font-size: 6vw;
        margin-left: 3%;
    }
}