.main {
    width: 100%;
    height: 83%;
    display: flex;
}

.register {
    width: 100%;
    height: 100%;
}

.register_inner {
    width: 40%;
    height: 50%;
    margin: 10% auto;
    box-shadow: 2px 2px 2px 0px rgba(138, 134, 134, 0.45);
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .register_inner {
        width: 90%;
        height: 150%;
        margin: 10% auto;
        box-shadow: 4px 4px 4px 0px rgba(138, 134, 134, 0.45);
        border-radius: 5px;
    }
}

.register_inner h1 {
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 2%;
    height: 15%;
    color: white;
    background-color: rgb(48, 93, 255);
    border-radius: 5px 5px 0px 0px;
}

@media screen and (max-width: 768px) {
    .register_inner h1 {
        font-size: 4.1vw;
    }
}

.register_form {
    height: 60%;
    width: 85%;
    padding-top: 5%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.register_form-item {
    height: 15%;
    width: 82%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .register_form-item {
        width: 100%;
    }
}

.form_error {
    height: 11%;
    width: 82%;
    margin: 0 auto;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    padding-left: 9%;
    box-sizing: border-box;
    color: red;
}

@media screen and (max-width: 768px) {
    .form_error {
        width: 100%;
        padding-left: 11%;
        font-size: 3.6vw;
    }
}

.user-name,
.email,
.lock {
    display: flex;
    margin-right: 3%;
}

.user-name::before,
.email::before,
.lock::before {
    width: 2vw;
    height: 2.2vw;
}

@media screen and (max-width: 768px) {

    .user-name::before,
    .email::before,
    .lock::before {
        width: 6vw;
        height: 6.6vw;
    }
}

.user-name::before {
    content: url(../fonts/user.svg);
}

.email::before {
    content: url(../fonts/mail.svg);
}

.lock::before {
    content: url(../fonts/key.svg);
}

.register_form-item input {
    font-size: 1.2vw;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .register_form-item input {
        font-size: 3.6vw;
    }
}

.register_form-btn {
    display: flex;
    width: 82%;
    margin: 0 auto;
    justify-content: right;
}

@media screen and (max-width: 768px) {
    .register_form-btn {
        width: 100%;
    }
}

.register_form-btn input {
    font-size: 1.1vw;
    padding: 1.5% 4%;
    border: none;
    box-shadow: 2px 2px 4px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: rgb(48, 93, 255);
}

@media screen and (max-width: 768px) {
    .register_form-btn input {
        font-size: 3.3vw;
        border: none;
        box-shadow: 4px 4px 8px;
        border-radius: 10px;
    }
}