.main {
    width: 100%;
    height: 78%;
    display: flex;
}

.shop-detail {
    width: 100%;
    height: 100%;
}

.shop-detail_inner {
    width: 88%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.shop-description {
    width: 46.3%;
    height: 100%;
}

.shop-description-top {
    width: 100%;
    height: 7%;
    margin-top: 9%;
    display: flex;
    align-items: center;
}

.shop-description-top form {
    width: 6%;
    height: 70%;
}

.shop-description-top form button {
    width: 100%;
    height: 100%;
    font-size: 1.4vw;
    padding-top: 3%;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px 0px rgba(138, 134, 134, 0.45);
    cursor: pointer;
}

.shop-description-top h2 {
    margin-left: 2%;
    font-size: 2vw;
    padding-top: 2.5%;
}

.shop-description-img {
    width: 100%;
    height: 55%;
    margin-top: 4%;
}

.shop-description-tag {
    display: flex;
    margin: 5% 0;
    font-size: 1.2vw;
}

.shop-description-text {
    padding: 0.5%;
}

.shop-description-text p {
    letter-spacing: 0.15px;
    line-height: 1.3;
    font-size: 1.14vw;
}

.shop-description-img img {
    width: 100%;
    height: 100%;
}

.reservation {
    width: 46.3%;
    height: 109.5%;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-color: rgb(48, 93, 255);
    box-shadow: 3px 3px 3px 0px rgba(138, 134, 134, 0.45);
}

.reservation_inner {
    width: 100%;
    height: 93%;
    padding: 2% 5%;
    box-sizing: border-box;
}

.reservation-ttl {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    font-size: 1.9vw;
    color: white;
}

.reservation-form {
    width: 100%;
    height: 18%;
}

.reservation-form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.reservation-form input {
    width: 30%;
    height: 26%;
    padding: 0 2%;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 1.1vw;
    font-weight: 600;
}

.reservation-form select {
    width: 100%;
    height: 26%;
    padding: 0 1%;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1vw;
}

.reservation-confirm {
    width: 95%;
    height: 24%;
    margin-top: 4%;
    padding: 2.5% 3%;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(77, 127, 255);
}

.reservation-confirm form {
    width: 100%;
    height: 100%;
}

.reservation-table {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.reservation-table tr {
    display: block;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    text-align: left;
}

.reservation-table th,
td {
    padding: 1.56%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 100;
}

.reservation-table th {
    font-size: 1.2vw;
    width: 23%;
}

.reservation-table td {
    font-size: 1.2vw;
    width: 70%;
    color: white;
}

.reservation-btn {
    width: 100%;
    height: 7%;
}

.reservation-btn input {
    width: 100%;
    height: 100%;
    background-color: rgb(5, 56, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1vw;
}